NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyAbYt9nBswZGeDvqzElEmEMGBbPmBezk80"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="vastra-a8fe2.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="vastra-a8fe2"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="vastra-a8fe2.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="944623325144"
NEXT_PUBLIC_FIREBASE_APP_ID="1:944623325144:web:be1b15c3aef255456aecad"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-F2GDY7T32X"
